@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Jasmine Spec Runner</title>
    
    <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
    <script type="text/javascript" src="/Scripts/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
    <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>

    <!-- include source files here... -->
    <script type="text/javascript" src="/Scripts/App/SlugGenerator.js"></script>

    <!-- include spec files here... -->
    <script type="text/javascript" src="/Scripts/Tests/SlugGenerator.Tests.js"></script>    

    <script type="text/javascript">
        (function() {
            var jasmineEnv = jasmine.getEnv();
            jasmineEnv.updateInterval = 1000;

            var htmlReporter = new jasmine.HtmlReporter();

            jasmineEnv.addReporter(htmlReporter);

            jasmineEnv.specFilter = function(spec) {
                return htmlReporter.specFilter(spec);
            };

            var currentWindowOnload = window.onload;

            window.onload = function() {
                if (currentWindowOnload) {
                    currentWindowOnload();
                }
                execJasmine();
            };

            function execJasmine() {
                jasmineEnv.execute();
            }

        })();
    </script>

    <meta name="description" content="Jasmine Tests" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
</body>
</html>
