@{
    Layout = null;
    
    // Quit caching my stuff!
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    Response.Cache.SetExpires(DateTime.Today.AddDays(-1));
}
<!DOCTYPE html>
<html>
<head>
    <title>Jasmine Spec Runner</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Jasmine Tests for Portfolio API" />

    <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
    
    <script type="text/javascript" src="/Scripts/require.js" data-main="/Scripts/specs/SpecRunner.js"></script>    
</head>
<body>
</body>
</html>
