<div id="task-list">
    
    <div id="task-list-table">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Created On</th>
                    <th>Due On</th>
                </tr>                
            </thead>
            <tbody data-bind="foreach: itemsOnCurrentPage">
                <tr>
                    <td>
                        <a href="#" data-bind="click: function () { $root.editTask(this); }">Edit</a>
                        <span>&nbsp;|&nbsp;</span>
                        Delete
                    </td>
                    <td>
                        <div data-bind="text: description"></div>
                        <div>
                            <span data-bind="text: category" class="label label-primary"></span>
                        </div>                        
                    </td>     
                    <td data-bind="text: status.Description"></td>
                    <td data-bind="text: formattedCreatedAt"></td>
                    <td data-bind="text: formattedDueOn"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div id="task-list-paging">
        <ul class="pagination">
            <li data-bind="css: { disabled: $root.disablePreviousLink() }">
                <a href="#" data-bind="click: function() { $root.goToPreviousLink(); }">&laquo;</a>
            </li>
            <!-- ko foreach: ko.utils.range(0, maxPageIndex) -->
                <li data-bind="css: { active: $data === $root.currentPageIndex() }">
                    <a href="#" data-bind="text: $data + 1, click: function() { $root.currentPageIndex($data); }"></a>
                </li>
            <!-- /ko -->
            <li data-bind="css: { disabled: $root.disableNextLink() }">
                <a href="#" data-bind="click: function() { $root.goToNextLink(); }">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

<div id="task-actions">
    <button type="button" class="btn btn-primary" id="add-task" data-bind="click: addTask">
        Add Task
    </button>
</div>

<!-- Model dialog for editing tasks -->
<div id="task-modal-dialog" class="modal fade" role="dialog" aria-hidden="true" style="display: none;" data-bind="with: currentTask">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" data-bind="text: title"></h3>
            </div><!-- /div.modal-header -->
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">                        
                        <label for="description" class="col-lg-3 control-label">Description</label>
                        <div class="col-lg-9">
                            <textarea name="description" class="form-control" rows="4" data-bind="value: description"></textarea>                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-lg-3 control-label">Category</label>
                        <div class="col-lg-9">
                            <select name="category" class="form-control" data-bind="options: $parent.categories, optionsText: function (item) { return item.Description; }, value: selectedCategory"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dueOn" class="col-lg-3 control-label">Due On</label>
                        <div class="col-lg-9">
                            <input type="date" name="dueOn" class="form-control" data-bind="value: dueOn"/>
                        </div>
                    </div>
                </form>
            </div><!-- /div.modal-body -->
            <div class="modal-footer">
                <button type="button" id="task-modal-cancel-button" class="btn btn-default" data-bind="click: $parent.cancel">Cancel</button>
                <button type="button" id="task-modal-save-button" class="btn btn-primary" data-bind="click: $parent.save">Save</button>
            </div><!-- /div.modal-footer -->
        </div><!-- /div.modal-modal-content -->
    </div><!-- /div.modal-dialog -->
</div><!-- /div#task-modal-dialog -->

<script type="text/javascript" src="@Url.Content("~/Scripts/App/Home.Index.js")"></script>

