@model Portfolio.Lib.ViewModels.TaskViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div style="margin-bottom: 1em;">
    <a href="@Url.Action("Index")" class="btn btn-default">List Tasks</a>
    <a href="@Url.Action("Edit", new { controller = "Tasks", id = Model.Id })" class="btn btn-primary">Edit Task</a>
</div>

<div style="margin-bottom: 1em">
    @Model.Description
</div>

